@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao Teste!</h1>
    <p>Conheça mais sobre mim!<a href="https://github.com/Fabio-TI"> github.com/Fabio-TI</a>.</p>
</div>
